<nz-list nzGrid style="width: 90vw">
  <div nz-row [nzGutter]="16">
    @for (item of data; track item) {
    <div
      nz-col
      [nzXXl]="8"
      [nzXl]="4"
      [nzLg]="6"
      [nzMd]="6"
      [nzSm]="12"
      [nzXs]="24"
    >
      <nz-list-item>
        <a [routerLink]="['/', item.id]">
          <nz-card
            class="flightCard"
            nzHoverable
            [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
          >
            <nz-card-meta
              nzTitle="Europe Street beat"
              nzDescription="www.instagram.com"
            ></nz-card-meta>
          </nz-card>
        </a>
      </nz-list-item>
      <ng-template #actionSetting>
        <span nz-icon nzType="crown"></span>
        {{ item.first_seats }}
      </ng-template>
      <ng-template #actionEdit>
        <span nz-icon nzType="gold"></span>
        {{ item.business_seats }}
      </ng-template>
      <ng-template #actionEllipsis>
        <span nz-icon nzType="wallet"></span>{{ item.economy_seats }}
      </ng-template>
    </div>
    }
    <ng-template #coverTemplate>
      <img
        width="272"
        alt="logo"
        src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"
      />
    </ng-template>
  </div>
</nz-list>
